# TENANT_URL= https://<your tenant>
# CLIENT_ID= your applications client Id
# CLIENT_SECRET= your applications client secret
# SCOPE=openid
# SESSION_SECRET= <generate a strong random secret, e.g. openssl rand -hex 32>